.banner3{
    display: flex;
    flex-direction: row;
    max-height: 240px;
    flex-wrap: wrap;
    text-align: center;
    position: relative;
    align-items: center;
    justify-content: center;
    margin-bottom: 4rem;

}

.banner3-img {
    width: 100%;
    max-height: 240px;
    object-fit: cover;
    align-items: center;
}

.banner3-logo {
    position: absolute;
    display: block;
    top: 15%;
}
.banner3-but {
    display: block;
    position: absolute;
    top: 75%;
    background-color: $p-color;
    font-size: $s-size;
}

.overlay-b3 {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5); // Dark overlay
  }