.cta-button {
    font-size: $m-size;
    padding: 2rem $l-size;
    border-radius: 20px;
    background: $p-color;
}
.button {
    font-size: $m-size;
    padding: 2rem $l-size;
    border-radius: 20px;
    background: white;
    color: $p-color;
}
.car-card-button {
    font-size: $m-size;
    padding: 2rem $l-size;
    border-radius: 20px;
}