//rem sizing used for accessibility

html {
    font-size: 62.5%;
}

body {
    font-family: Verdana ,Arial, Helvetica, sans-serif;
    font-size: $m-size;
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: default;
}

#root {
    margin: 0 auto;
    padding: 0;
}

.active {
    font-weight: bold;
}

.logo {
    max-width: 16rem;
    max-height: 6rem;
}

.m-logo {
    max-width: 24rem;
    max-height: 12rem;
}

.body {
    max-width: 100%;
    color: aqua;
}

.container {
    max-width: 80%;
    margin: 0 auto;
}
.small-container {
    max-width: 65%;
    margin: 0 auto;
}